/*font-family: 'Yellowtail', cursive;
font-family: 'Lato', sans-serif;*/

/*General*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.custom-spacer {
  min-height: 100px;
}

/*Nav*/
.nav-custom {
  width: 100%;
  position: fixed;
  top: 0;
}

.brand-logo {
  font-family: 'Yellowtail', cursive;
  margin-left: 20px;
}

/*Fonts*/
/*p {
  font-family: 'Lato', sans-serif;
}*/

h6 {
  font-size: 18px;
  line-height: 26px
}

.hint-text {
  font-family: 'Lato', sans-serif;
  color: rgb(189, 189, 189);
  font-size: 15px;
}

/*Buttons*/
.circle-button {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
}

/*Image Search*/
.selected-photo {
  opacity: .5;
}

/*Card Selection*/
.card-thumb:hover {
  background-color: #f44336;
  /*why is cursor not working?*/
  cursor: "grab";
}

.color-blob {
  /*width: 100px;
  height: 100px;*/
  border-radius: 50%;
}
